datar==0.10.1
datar-numpy==0.0.0
datar-pandas==0.0.0
diot==0.1.6
executing==1.2.0
greenlet==2.0.1
importlib-metadata==4.13.0
inflection==0.5.1
numpy==1.23.5
pandas==1.5.2
pdtypes==0.0.4
pipda==0.10.0
python-dateutil==2.8.2
python-simpleconf==0.5.7
pytz==2022.6
rtoml==0.8.0
simplug==0.2.0
six==1.16.0
SQLAlchemy==1.4.44
zipp==3.11.0
